<h1>Home Page</h1>
<br>
<h2>Todos los productos</h2>
<ol>
    {{#each allprods}}
        <li>Producto: <strong>{{title}}</strong> - Descripción: <i>{{description}}</i></li>
    {{/each}}
</ol>
<a href="/realTimeProducts">Productos actualizados en tiempo real</a>